.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage {
  font-size: xx-large;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  padding: 120px 140px 130px 130px;
  background: #1209644d;
  border: thin solid rgba(0, 0, 0, 0.6);
  color: #000000;
  font-family: Droid Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}

.cueSheetForm {
  margin-top: 5%;
  display: block;
  justify-content: center;
  align-items: center;
  width: 700; 
  margin-right: 20%;
  margin-left: 20%;
}

.submitFormButton {
  margin-top: 1em;
}

